# Day 06

## Read input

In [3]:
with open("input.txt") as fh:
    groups = []
    
    group_answers = {"count": 0, "answers": {}}
    for row in fh.readlines():
        row = row.strip()
        if row == "":
            groups.append(group_answers)
            group_answers = {"count": 0, "answers": {}}
            continue
        for c in row:
            try:
                group_answers["answers"][c] += 1
            except KeyError:
                group_answers["answers"][c] = 1
        group_answers["count"] += 1
    groups.append(group_answers)

## Part 1

In [4]:
sum([len(set(group["answers"].keys())) for group in groups])

6778

## Part 2

In [5]:
group_answers

{'count': 3,
 'answers': {'u': 3, 'k': 3, 'r': 3, 'p': 3, 'f': 3, 'l': 3, 'a': 3}}

In [12]:
sum([item for sublist in [[group["answers"][answer] == group["count"] for answer in group["answers"]] for group in groups] for item in sublist])

3406

## Trying GPU

In [13]:
import string

In [17]:
with open("input.txt") as fh:
    groups = []
    
    group_answers = {letter: 0 for letter in list(string.ascii_lowercase)}
    group_answers["count"] = 0
    
    for row in fh.readlines():
        row = row.strip()
        if row == "":
            groups.append(group_answers)
            group_answers = {letter: 0 for letter in list(string.ascii_lowercase)}
            group_answers["count"] = 0
            continue
            
        for c in row:
            group_answers[c] += 1
        group_answers["count"] += 1
    groups.append(group_answers)

In [20]:
import pandas as pd
import cudf

In [21]:
df = cudf.from_pandas(pd.DataFrame(groups))
df

     a  b  c  d  e  f  g  h  i  j  ...  r  s  t  u  v  w  x  y  z  count
0    1  0  1  4  0  4  0  1  4  0  ...  4  0  4  4  4  4  4  0  0      4
1    1  2  0  0  0  0  0  0  0  1  ...  0  2  1  0  2  0  0  0  1      2
2    0  0  0  2  0  0  0  0  0  0  ...  2  0  0  0  0  0  0  0  0      5
3    0  0  0  1  3  1  0  0  0  3  ...  3  0  0  0  1  2  3  0  0      3
4    2  2  2  2  2  1  1  1  2  1  ...  1  1  2  2  2  2  2  2  2      2
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..    ...
483  4  1  4  1  0  1  1  1  4  1  ...  1  0  1  2  1  1  0  0  1      4
484  3  0  3  3  3  3  3  0  0  3  ...  3  3  3  3  3  3  0  3  0      3
485  1  1  3  2  1  1  1  1  2  1  ...  1  1  1  1  0  1  1  1  1      3
486  1  2  1  0  0  2  1  5  0  1  ...  2  0  1  1  1  1  1  1  1      5
487  3  0  0  0  0  3  0  0  0  0  ...  3  0  0  3  0  0  0  0  0      3

[488 rows x 27 columns]

In [28]:
groups_array = df.as_gpu_matrix()

## Part 1

In [31]:
from numba import cuda
import numpy as np

In [35]:
@cuda.jit
def count_group_answers(groups_array, output):
    pos = cuda.grid(1)
    if pos < len(groups_array):
        for answer in groups_array[pos][0:-1]:
            if answer > 0:
                output[pos] += 1

In [36]:
threadsperblock = 128
blockspergrid = (len(groups_array) + (threadsperblock - 1)) // threadsperblock

In [37]:
output = np.zeros(len(groups_array))
count_group_answers[blockspergrid, threadsperblock](groups_array, output)
output

array([16., 10.,  3., 12., 25.,  8., 11., 11., 12., 24.,  5., 19., 19.,
       12., 26., 10., 18.,  7., 15.,  9.,  5., 24., 26., 15., 13.,  4.,
       26.,  9., 18., 20., 12., 16., 17., 11., 19., 21., 11., 10., 17.,
        9.,  6., 14.,  7.,  9., 10.,  2., 19., 24., 24., 17.,  9., 13.,
       13., 16.,  1.,  6., 21., 13., 22.,  1., 17., 16., 22., 12.,  5.,
       13.,  9.,  3.,  7.,  8., 21., 24.,  7., 16.,  3., 20., 17.,  3.,
       21., 10., 17.,  9., 14., 26.,  2., 23., 20., 18.,  4.,  5., 26.,
       14., 17., 24., 22., 12., 25.,  2., 20., 10., 15., 23., 13., 23.,
       15.,  7., 22.,  1., 18., 13., 22., 13.,  8.,  3., 25., 22.,  3.,
       13.,  5., 17., 12., 17., 24., 11., 14., 11.,  2.,  7.,  8.,  2.,
       14.,  7., 23., 21.,  7., 14., 10.,  4., 15., 19., 21.,  6., 11.,
       25., 21., 20., 22., 13., 24., 24.,  3., 14., 21.,  9., 25.,  4.,
       26., 23., 14., 13., 11., 25., 21., 26., 24.,  3., 21.,  7., 21.,
       18., 25., 21.,  7.,  3., 17.,  5., 19., 14., 17., 10., 10., 18.,
       16.,  5.,  4., 20., 14.,  6., 10., 21., 17.,  9., 25., 22.,  2.,
       15., 13., 26., 26., 20., 16., 20., 15., 19., 19.,  3., 26., 17.,
        8.,  7.,  9.,  8., 18., 21.,  8., 14., 16., 17., 19.,  8., 17.,
       18., 17., 22.,  6.,  7., 16., 18.,  2.,  2., 20., 13.,  5.,  3.,
       10., 19., 15., 21.,  6., 19., 14., 11., 19., 22.,  5., 26., 20.,
       22., 15., 13., 21.,  7., 21., 14.,  5.,  5.,  5., 18., 23.,  9.,
       24., 12., 12., 20., 12., 20.,  7.,  3., 13.,  4., 18., 11., 26.,
        1.,  5., 15.,  4., 25., 23., 22., 25., 26., 21., 17., 18.,  2.,
        6., 26.,  2., 17.,  4.,  8., 18., 13., 24.,  9., 20.,  4., 14.,
       19., 24., 15., 14., 13.,  6., 15., 15., 11., 15.,  4., 18., 11.,
        8., 24., 21.,  5., 13., 22., 10., 23.,  7., 20., 25., 18.,  5.,
       12., 24.,  8.,  6., 17.,  8., 11.,  6., 17., 15., 20., 25., 25.,
       25., 21., 12.,  9., 21.,  7., 13.,  2., 17., 25.,  4.,  1.,  6.,
       21., 16.,  4., 16., 10.,  9., 22.,  4., 18.,  2., 14.,  5., 15.,
       12.,  7., 23.,  6., 14.,  9., 22.,  9., 24., 14., 19., 10., 24.,
        5., 18.,  9., 13.,  4.,  9., 15.,  3., 10., 20.,  7.,  3., 12.,
       19., 10., 20., 22., 17., 12.,  3., 25., 15., 26.,  3., 26.,  3.,
        9., 17.,  2., 26., 26.,  4., 20., 19.,  1.,  7.,  9., 13., 20.,
       11., 15., 19., 22., 10., 17., 21., 20., 11.,  2., 10., 18., 16.,
       26., 16., 10.,  5., 25.,  2., 24.,  3., 26., 11.,  4., 11., 22.,
       12., 20., 12., 11., 23.,  8.,  3.,  4., 23.,  4., 16., 10.,  6.,
        3., 23., 14.,  1., 12., 25.,  7.,  5., 22., 24.,  5., 10.,  3.,
       16.,  5.,  5., 12., 17.,  9., 17.,  1., 13., 15.,  4.,  6., 16.,
       17.,  8., 22., 20., 24., 20.,  7.])

In [38]:
sum(output)

6778.0

## Part 2

In [39]:
@cuda.jit
def count_group_all_answers(groups_array, output):
    pos = cuda.grid(1)
    if pos < len(groups_array):
        for answer in groups_array[pos][0:-1]:
            if answer == groups_array[pos][-1]:
                output[pos] += 1

In [40]:
output = np.zeros(len(groups_array))
count_group_all_answers[blockspergrid, threadsperblock](groups_array, output)
output

array([11.,  3.,  0.,  5., 19.,  2.,  0.,  6.,  9., 21.,  0., 14., 18.,
       10., 26.,  3., 13.,  5.,  3.,  8.,  2.,  2., 26.,  3., 10.,  3.,
        2.,  1., 11., 11.,  1.,  5.,  6.,  2.,  9., 19.,  6.,  5., 10.,
        2.,  2.,  1.,  4.,  8.,  0.,  2., 13., 23., 21.,  5.,  3., 12.,
        4., 16.,  1.,  1.,  7.,  8.,  2.,  1.,  9., 12., 17.,  3.,  5.,
        2.,  4.,  2.,  1.,  6.,  1.,  7.,  2., 10.,  0., 12., 14.,  3.,
       11., 10., 11.,  8.,  0., 12.,  2.,  8.,  4., 11.,  4.,  0., 24.,
       14.,  0., 12.,  4.,  7.,  9.,  0.,  8.,  2.,  0., 17., 12.,  8.,
        5.,  3.,  0.,  1.,  6., 13., 10.,  7.,  7.,  1.,  4.,  1.,  0.,
       10.,  4., 14.,  3., 13., 12., 11., 12.,  4.,  0.,  0.,  3.,  0.,
       13.,  5., 11., 21.,  3.,  1.,  9.,  2.,  2.,  2., 10.,  2., 10.,
       10.,  3.,  1., 11.,  9., 21., 11.,  3.,  5., 20.,  0.,  5.,  3.,
        6.,  8.,  5., 13.,  4., 10., 14.,  5., 15.,  2.,  8.,  5.,  1.,
        1., 15.,  5.,  4.,  1., 14.,  3.,  9.,  7.,  3.,  3.,  9., 18.,
        4.,  3.,  0., 10., 12.,  5., 10., 11.,  2.,  2.,  4., 17.,  1.,
        7.,  5., 10., 19.,  8.,  4.,  7., 13.,  3., 19.,  1.,  8.,  2.,
        8.,  5.,  4.,  0., 17.,  9.,  2.,  2.,  9.,  1.,  7.,  0., 13.,
        9.,  3., 19.,  1.,  0., 13., 10.,  0.,  0., 16.,  6.,  3.,  2.,
        7., 16.,  3.,  3.,  0., 16.,  3.,  9.,  8., 12.,  5.,  8., 15.,
        7., 10.,  8., 18.,  6., 15.,  4.,  4.,  1.,  2., 17., 20.,  2.,
        0., 10.,  9.,  4., 12.,  5.,  3.,  2.,  7.,  4.,  8.,  4., 23.,
        1.,  4., 13.,  1., 22., 23.,  4., 17.,  0., 15., 12.,  2.,  0.,
        6., 20.,  2., 16.,  1.,  8., 14.,  0., 24.,  0., 19.,  4.,  3.,
       15., 12.,  2., 10.,  5.,  6.,  5.,  5.,  2., 12.,  2.,  6.,  7.,
        4.,  7.,  8.,  0.,  9.,  6.,  9.,  4.,  1., 17., 12.,  6.,  1.,
        8., 13.,  3.,  0., 16.,  5.,  3.,  2.,  9.,  5.,  4.,  4., 15.,
        2.,  3.,  9.,  1., 12.,  1., 11.,  1., 11., 13.,  0.,  1.,  5.,
       21.,  5.,  2.,  0.,  8.,  4.,  5.,  2., 17.,  2.,  9.,  5., 14.,
        4.,  5., 12.,  2., 12.,  4.,  0.,  9., 16.,  7., 11.,  7.,  5.,
        3.,  7.,  5.,  4.,  0.,  9.,  8.,  2., 10.,  9.,  0.,  0.,  8.,
       12.,  3., 14.,  3., 11.,  0.,  2.,  7., 14.,  5.,  0., 26.,  3.,
        5.,  5.,  1., 25., 25.,  4.,  6., 13.,  1.,  2.,  2.,  4.,  1.,
       10., 14., 15.,  6.,  2.,  4., 14.,  4.,  2.,  0.,  8.,  0.,  0.,
        0., 11.,  2.,  4., 16.,  2.,  6.,  0., 19.,  4.,  3.,  9., 10.,
        6.,  1., 12.,  3., 14.,  4.,  3.,  0., 14.,  2.,  6., 10.,  6.,
        3., 19.,  6.,  1.,  9.,  2.,  7.,  1., 22., 11.,  5.,  7.,  3.,
       16.,  0.,  1., 12.,  1.,  8., 11.,  1.,  7., 13.,  4.,  3.,  6.,
        0.,  4.,  4., 20.,  1.,  2.,  7.])

In [41]:
sum(output)

3406.0